{% extends "templates/base.html" %}

{% block titulo %} {{ oferta.nombre }} {% endblock %}

{% block contenido_principal %}
<div class="row">
    <div class="media col-xs-10">
        <div class="media-body">
            <h2>{{ oferta.nombre }}</h2>
            <p>{{ oferta.autor }}</p>
            <p>{{ oferta.detalle }}</p>
            <p>{{ oferta.fecha }}</p>
            <p>{{ oferta.precio }}</p>
            <a class="btn btn-primary pull-right" href="/oferta/comprar/{{oferta._id.toString()}}">{{ oferta.precio}} €
                - {{ oferta.usd }} $</a>
        </div>
    </div>
</div>

{% endblock %}