{% extends "templates/base.html" %} {% block titulo %} Mis Publicaciones {% endblock %}

{% block contenido_principal %}
<h2>Mis ofertas</h2>

<!-- Agregar Oferta -->
<div class="row text-right">
    <a id="AgregarOferta" href="/ofertas/agregar" class="btn btn-info" role="button">Agregar oferta</a>
</div>

<div class="table-responsive">
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Nombre</th>
            <th>Detalle</th>
            <th>Fecha</th>
            <th>Precio</th>
            <th class="col-md-1"></th>
        </tr>
        </thead>
        <tbody>
        {% for oferta in ofertas %}
        <tr>
            <td>{{ oferta.nombre }}</td>
            <td>{{ oferta.detalle }}</td>
            <td>{{ oferta.fecha }}</td>
            <td>{{ oferta.precio }}</td>
            <td><a href="/oferta/eliminar/{{ oferta._id.toString() }}">Eliminar</a> <br>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
